includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 6
    paths:
        - bin
        - config
        - public
        - src
        - tests
    scanFiles:
        - config/bundles.php
    symfony:
        containerXmlPath: null
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#MissingType.generics#'
    excludePaths:
        - config/bundles.php
